#galleryView {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;

}

#galleryView > #Container{
margin-bottom: 20px;
}
#YoutubePlayer {
    max-width: 80%;
    max-height: 1000px;
    aspect-ratio: 1.78;
}
