
#logo
{
    width: 70px;
    height: 70px;
    /* padding: 10px; */
    float: left;
}
.blg_fll_description{
    line-height: 1.5rem;
    color:var(--color)
}

.blg_fll {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    gap: 10px;
    touch-action: none;
}

.blg_fll_modal {
    width: 95%;
    height: 95%;
    background-color: var(--panelColor);
    border-radius: 2vh;
    left: 50%;
    top: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.95fr;
    transform: translate(-50%, -50%);
    overflow: hidden;
    position: fixed;
}

.blg_fll_container 
{
    grid-row:2/3 ;
    grid-column: 0/1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    align-items: safe;
    padding: 25px;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
.blg_fll_name {
    text-align: left;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--color);
    padding: 0;
    margin: 0;
    text-align: justify;
    width: 100%;
    width: fit-content;
    font-size: larger;
    font-weight: bolder;
    
}


.blg_fll_image {
    max-width: 40%;
    max-height: 40%;
    object-fit: contain;
    aspect-ratio: auto;
}
.blg_Content{
    display: grid;
    overflow: hidden;
    flex-grow: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.7fr 0.15fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.blg_short_description {
    flex-grow: 0;
    text-align: justify;
    padding: 5px;
    -webkit-line-clamp: 5;
    grid-area: 2 / 1 / 3 / 2;
    
}

.blg_name {
    font-weight: bolder;
    color: var(--color);
    text-align: center;
    align-items: center;
    align-self: center;
    grid-area: 1 / 1 / 2 / 2;
    vertical-align: middle;
}

.blg_image {
    height: 90%;
    max-width: 55%;
    align-items: center;
    align-self: center;
    padding: 10px;
    color: var(--color);
    display: -ms-inline-grid;
    display: -moz-inline-grid;
    aspect-ratio: 1;
    object-fit: cover;
}
    .blog_card {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        min-width: 300px;
        max-height: 300px;
        aspect-ratio: 1;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        margin: 10px;
        border-radius: 2.5%;
        box-shadow: 0px 10px 30px var(--panelColor);
        background-color: var(--panelColor);
        }
        .blog_card_image_container{
            width: 100%;
            height: 40%;
            justify-items: center;
            text-align: center;
            overflow: hidden;
        }
.blog_card_image
{
    display: inline;
    height: 100%;
    object-fit: contain;
}
.blog_card_details{
    height: 30%;
    max-lines: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog_card_description{
    color: var(--color);
    font-size: clamp(12px, 14px, 28px);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    
}
.blog_card_bot
{
    display: flex;
    height:10%;
    width: 100%;
    justify-content: space-between;
}
.blog_card_button{
    align-self: flex-end;
}
.blog_card_status
{
    display: flex;
    align-self: flex-start;
    gap:5px;
    align-items: center;
    justify-content: flex-start;
    color: var(--color);
}
.blog_card_title{
    height: 10%;
}
#reaction-icon
{
    color: var(--color);
}
@media screen and (min-width:800px) {
    .blg_Instance{
    width: 800px;
    height: 450px;
    }
    #inlineLeft{
        display:inline-block;
        float:left ;
        max-width:300px;
        max-height: 300px;
        aspect-ratio:auto;
        margin-right:50px;
    }
    #inlineRight{
        display:inline-block;
        float:right ;
        max-width:300px;
        max-height: 300px;
        aspect-ratio:auto;
        margin-left:50px;
    }
}

@media screen and (max-width:799px) {
  
    #inlineLeft{
        display:block;
        max-width:300px;
        max-height: 300px;
        aspect-ratio:auto;
        margin-top:50px;
        margin-bottom:50px;
        justify-self: center;
    }
    #inlineRight{
        display:block;
        max-width:300px;
        max-height: 300px;
        aspect-ratio:auto;
        margin-top:50px;
        margin-bottom:50px;
    }
    
    
}
.blg_fll_close
{
    grid-row: 1/2;
    grid-column: 1/2;
    width: fit-content;
    height: fit-content;
    align-content: center;
    justify-self: end;
    margin: 20px;
}
.blog_card:hover {
    transform: scale(1.03); /* Slight zoom effect */
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
}
.comments_section {
    margin-top: 20px;
    width: 90%;
}
.comments_section >form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-shrink: 0;
}
.comments_section >form >button{
    align-self: flex-end;
}

#comments_list{
    list-style-type: none;
    width: 100%;
    color: var(--color);
    padding: 0;
}
#comments_list >li 
{
    margin: 5px 0;
    border-top: 0.15px solid var(--borderColor);
}

#comments_list >li:first-child
{
    margin: 5px 0;
    border-top: none;
}

.comments_section input {
    width: calc(100% - 80px);
    padding: 5px;
    margin-right: 10px;
}

.reactions_section {
    margin-top: 20px;
}

.reactions_section button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
