#Scroll_Btn_Prev
{   
    align-self:center;
    justify-self: right;
    font-size: 1.75rem;
    width: 100%;
    border-radius:0;
    aspect-ratio: 1;
    grid-row: 1/2;
    grid-column: 1/2;
}
#Scroll_Btn_Next
{
    align-self: center;
    justify-self: left;
    font-size: 1.75rem;
    width: 100%;
    border-radius:0;
    aspect-ratio: 1;
    grid-row: 1/2;
    grid-column: 3/4;
}
#Scroll_Btn_Prev:hover
{
    transition: none;
    transform: translateX(-5px);
}
#Scroll_Btn_Next:hover
{
    transition: none;
    transform: translateX(5px);
}
@media screen(min-width:801) {
    
}
#Scroll_Viewport
{
   width: 90vw;
    aspect-ratio: 1.6;
    min-height: 0;
    min-width: 0;
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

#Scroll_Content{
    position: relative;
    z-index: -1;    
    align-self: center;
    width: 100%;
    grid-row: 1/2;
    grid-column:2/3 ;
    min-width: 0;
    min-height: 0;
    background-color: var(--bgColor);
    object-fit: contain;
    animation: zoomIn 0.8s ease-in-out
}
#Scroll_Overlay
{
    position: relative;
    transform: translateY(-100px);
    width: 100%;
    height: 100px;
    text-align: center;
    align-content: center;
    padding: 0px;
    z-index: -1;
    color: var(--color);
    background-color: #1717179b;
    animation: fadein 1s ease-in-out
}
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0.5;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}