:root {
    --buttonpadding: 5px;
    --padding: 10px;
    --bgColor: #282727;
    --panelColor:#1E1E1E;
    --color: #D9D9D9;
    --titleColor:#7db122;
    --borderColor: #FFFFFF;
    --navbarheight: 60px;
    --componentgap: 25px;
    --gap: 10px;
    --mainTitle: 950;
    --subTitle: 550;
}

button {
    padding: var(--buttonpadding);
    border-radius: 6%;
    background-color: var(--bgColor);
    color: var(--color);
    font-size: medium;
    max-width: 125px;
    text-align: center;
    border: 1px solid var(--color);
    cursor: pointer;
    transition: left 1s ease;
}

button:hover {
    padding: var(--buttonpadding);
    border-radius: 6%;
    background-color: var(--panelColor);
    color: var(--borderColor);
    font-size: medium;
    max-width: 125px;
    text-align: center;
    border: 1px solid var(--borderColor);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.25s ease;
}


html {
    background: var(--bgColor);
}

html {
    scroll-behavior: smooth;
    /* transition:ease-out; */
}

.scrollto {
    scroll-margin-top: var(--navbarheight);
}
h3,h4,h2{
    text-transform: uppercase;
    color: var(--titleColor);
    padding: 0;
    margin: 0;
}
p{
    text-transform:none;
    color: var(--color);
    line-height: 1.5;
    font-size: 1.25rem;
    padding: 0;
    margin: 0
}
#bigButton{
    padding: 0.5rem;
    text-transform: uppercase;
    width: fit-content;
    font-size: 1.25rem;

}
#YoutubePlayer
{
    width: 80%;
   max-width: 560px;
   max-height: fit-content;
    aspect-ratio: 1.78;
}

#line
{
    width: 100%;
    background-color: var(--color);
    height: 1px;
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}
textarea,input
{
    outline: none;
    padding-left: 5px;
    border: none;
    background-color: var(--color);
    box-sizing: border-box;
  color: var(--panelColor);
font-size: medium;
  font-family: "TT Interphases Pro Mono Trl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#socialMediaHolder
{

    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
    height: fit-content;
    background-color: var(--panelColor);
    border-radius: 15rem;
    align-items: center;
    color:var(--color);
    
    
}
#socialMediaHolder>a{
    text-decoration: none;
    width: 30px;
    height: 30px;
    font-size: 30px;
}
#socialMediaHolder>a:visited 
{
    color: var(--color);
}
#socialMediaHolder> a:hover
{
    color: var(--borderColor);
}
textarea{
    resize: vertical;
}
textarea:focus, input:focus{
    outline: none;
    padding-left: 5px;
    box-sizing: border-box;
    border: 1px solid var(--color);
    background-color: var(--panelColor);
  color: var(--color);

  font-family: "TT Interphases Pro Mono Trl";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
background-image:  radial-gradient( #7db12255  0.5px, transparent 0.5px), radial-gradient(#7db12255 0.5px, transparent 0.5px);
background-color: colr;
background-size: 40px 40px;
background-position: 0 0, 50px 50px;
z-index: -100;
position: relative;
-webkit-animation: scrolling 30s ease-in-out infinite;
    -moz-animation: scrolling 30s ease-in-out infinite;
    -o-animation: scrolling 30s ease-in-out infinite;
    animation: scrolling 30s ease-in-out infinite;
}
@keyframes scrolling {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 105% 105%;
    }
}